# germandota.de - Sources of the website
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

######################################################################
# If DOCUMENT_ROOT != INSTALLATION_ROOT then change the following
# pathes.

# Not Found
ErrorDocument 404 /develop/www/errors/e404.php
# Forbidden
ErrorDocument 403 /develop/www/errors/e403.php

######################################################################

# PHP open tag <? instead of <?php is allowed
php_value short_open_tag 1
