/* germandota.de - Sources of the website
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
  padding: 0px;
  margin: 0px;

  background-color: #f0f0f0;
  font-family: Verdana;
  font-size: 14px;
  text-align: justify;
}

img {
  border-style: none;
  border-radius: 6px;
}

a {
  outline: 0;

  color: #900000;
  text-decoration: none;
  border-style: none;
}
a:hover {
  border-bottom: 1px solid;
}

table {
  border-spacing: 0px;
}

.floatright { float: right; }
.floatleft { float: left; }

/* ***************************************************************  */

div.textblock {
  background-color: #c0c0c0;
  padding: 14px;
}

div.error {
  margin-left: auto;
  margin-right: auto;

  background-color: #ffff40;
  border: 2px solid #cc0000;
  padding: 14px;
  width: 80%;

  text-align: center;
  font-size: 14px;
}

div.warning {
  margin-left: auto;
  margin-right: auto;

  background-color: #d0d0d0;
  border: 2px solid #505050;
  padding: 14px;
  width: 80%;

  text-align: center;
  font-size: 14px;
}

li {
  padding: 2px;
}

table.default_table {
  margin-left: auto;
  margin-right: auto;
  background-color: #a0a0b5;
}
table.default_table td {
  vertical-align: top;
  padding: 8px;
}
table.default_table th {
  vertical-align: top;
  background-color: #9090a5;
  font-weight: bold;
  padding: 8px;
}

img.icon_large {
  height: 13px;
  margin-right: 3px;
}
img.icon_default {
  height: 10px;
  margin-right: 3px;
}
span.icon_text {
  display: inline-table;
  width: 95%;
}

div.description {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;

  overflow: auto;
  overflow-x: hidden;

  border-radius: 6px;
}

/* ***************************************************************  */

img.gplus_profilelink {
  float: left;
  margin-right: 8px;
  width: 50px;
}
a.gplus_profilelink {
  color: #700000;
  font-weight: bold;
}
a:hover.gplus_profilelink {
  color: #a00000;
  border-style: none;
}

iframe.comments_iframe {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;

  border-style: none;
  width: 800px;
  /* HEIGHT will be calculated via HTML attribute ... */
}

a.useroutput_more {
  line-height: 200%;
  color: #909090;
}

/* ***************************************************************  */

div.theme_topnav {
  position: fixed;
  height: 40px;
  z-index: 60;

  background-color: #353535;
  text-align: center;
  width: 100%;
}

span.theme_topnav {
  position: relative;
  top: -10px; /*  (40 - 14)/2 - 14/4  */
  vertical-align: bottom;

  color: #a0a0a0;
}

img#theme_topnav_logo {
  height: 32px;
  margin-top: 4px; /* (40 - 32)/2  */
}

a.theme_topnav_link {
  color: #f0f0f0;
  font-variant: small-caps;
  font-weight: bold;
  padding: 4px;
}
a:hover.theme_topnav_link {
  color: #b0b0b0;
  border-style: none;
}

/* ---  */

div#theme_main {
  position: relative;
  top: 40px;
  z-index: 30;

  background-color: #a0a0a0;
  border: 1px solid #505050;
  border-top: none;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

div#theme_title {
  background-color: #808080;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  color: #404040;
}

body#theme_frame_body {
  background-color: #f0f0f0;
  padding: 12px;
  min-width: 400px;
}

div#theme_frame_title {
  background-color: #d0d0d0;
  margin-bottom: 12px;
  padding: 4px;

  color: #606060;
  text-align: center;
  font-weight: bold;
}

/* ---  */

div#theme_content {
  font-size: 12px;
  padding: 14px;
  min-height: 500px;
}

div#theme_footer {
  background-color: #e0e0e0;
  color: #606060;
  width: 880px;
  padding: 8px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  text-align: center;
  font-size: 10px;
}

a#theme_impressum {
  color: #707070;
}

/* ***************************************************************  */

table#live_videoframe {
  position: relative;
  left: -140px;

  background-color: #202020;
}
table#live_videoframe td {
  text-align: center;
  padding: 3px;
}

td#live_videoframe_chat {
  background-color: #808080;
}

div#live_videoframe_bottom {
  background-color: #404040;
  width: 787px;
  padding-top: 4px;
  padding-bottom: 4px;

  font-size: 11px;
}
div#live_videoframe_bottom a {
  color: #a0a0a0;
}

/* ***************************************************************  */

table#lists_table {
  margin-left: auto;
  margin-right: auto;
  background-color: #c0c0c0;

  width: 80%;
}
tr.lists_table_tr2 {
  background-color: #b0b0b0;
}
table#lists_table td {
  padding: 8px;
}
table#lists_table th {
  background-color: #808090;
  padding: 8px;
  text-align: center;
  color: #404040;
}

td.lists_table_thumb {
  width: 1%;
}
img.lists_table_thumb {
  width: 185px;
}

td.lists_table_videocount {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
}
td.lists_table_videocount p {
  font-size: 10px;
  font-style: italic;
}

td.lists_table_text {
  vertical-align: bottom;
  text-align: left;
}

a.playlist_link {
  color: #a02020;
  font-weight: bold;
  font-size: 17px;
}
a:hover.playlist_link {
  border-style: none;
  color: #e02020;
}

div.lists_table_text_descr {
  padding-top: 8px;

  background-color: #d0d0d0;
  margin-top: 6px;

  height: 60px;

  font-style: italic;
  text-align: center;
}

a.img_link {
}
a:hover.img_link {
  background-color: transparent;
  border-style: none;
  padding: 0px;
  position: relative;
  left: -1px;
  top: -1px;
}
a:active.img_link {
  background-color: transparent;
  border-style: none;
  padding: 0px;
  position: relative;
  left: 1px;
  top: 1px;
}

/* ***************************************************************  */

div#video_videoframe {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: -14px;

  background-color: #404040;
  padding: 3px;
}

div#video_videoframe_bottom {
  background-color: #606060;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 25px;

  color: #c0c0c0;
}

table#video_videoframe_table {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
table#video_videoframe_table td {
  padding-left: 3px;
  padding-right: 3px;
}
td.video_videoframe_table_small {
  width: 1%;
  white-space: nowrap;
}

span.video_videoframe_table_stats {
  font-weight: bold;
}
span.video_videoframe_table_date {
  font-style: italic;
  font-size: 10px;
}

img.video_videoframe_table_icon {
  height: 22px;
}
/* ***************************************************************  */

table#video_thumbs_table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;

  background-color: #d0d0d0;
  padding-left: 25px;
  padding-right: 25px;
}
td.video_thumbs_table {
  background-color: #000000;
  padding: 2px;
}
td.video_thumbs_table_select {
  background-color: #8080a0;
  padding: 2px;
}
table#video_thumbs_table th {
  padding: 2px;
  text-align: center;
}
th.video_thumbs_table_top {
  font-weight: bold;
  font-size: 11px;
}
span.video_thumbs_table_top_time {
  font-weight: normal;
  font-style: italic;
}

th.video_thumbs_table_time {
  font-weight: normal;
  font-size: 10px;
  font-style: italic;
}
th.video_thumbs_table_time_selct {
  background-color: #8080a0;
  font-weight: normal;
  font-size: 10px;
  font-style: italic;
}
span.video_thumbs_table_time_no {
  font-weight: bold;
  font-style: normal;
}

img.videos_thumbs {
  height: 80px;
}

td.video_thumbs_table_pagelink {
  color: #a0a0a0;
  font-size: 24px;
  font-weight: bold;
}
a.video_thumbs_table_pagelink {
  color: #900000;
}
a:hover.video_thumbs_table_pagelink {
  border-style: none;
  color: #b00000;
}

div#video_description {
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  background-color: #d0d0d0;

  height: 90px;
  text-align: left;
}
span#video_description_title {
  font-weight: bold;
  line-height: 26px;
}

/* ***************************************************************  */

table#about_person {
  margin-left: auto;
  vertical-align: top;
}

table#about_person td {
  color: #606060;
  font-size: 11px;

  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

/* ***************************************************************  */

a.page_nextlink {
  font-weight: bold;
  color: #900000;
}
a:hover.page_nextlink {
  border-style: none;
  color: #b00000;
}

/* ***************************************************************  */

div#comments_order_position {
  display: inline;
  float: left;
}

div#comments_order {
  border: 1px solid #808080;
  font-size: 10px;
  font-weight: normal;
  padding: 2px;
}
div:hover#comments_order {
  background-color: #fafafa;
}
div#comments_order ul {
}
div#comments_order li {
  padding-top: 4px;
  padding-bottom: 4px;
}
div#comments_order a {
  border-style: none;
  font-weight: normal;
  color: #606060;
}
div#comments_order a:hover {
  color: #a0a0a0;
}

img#comments_order_dropdown {
  border-radius: 3px;
  height: 12px;
}

li#comments_order_selected {
  background-color: #f0f0f0;
}
li#comments_order_selected a {
  color: #202020;
}
li#comments_order_selected a:hover {
  color: #202020;
}

/* ---  */

table#comments_table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #e8e8e8;

  font-size: 12px;
}
td.comments_table_td {
  padding: 8px;
}
table#comments_table th {
  background-color: #e0e0e0;
  text-align: center;
  padding: 4px;
}
tr.comments_table_tr2 { }

table.comments_replies {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  background-color: #e8e8e8;
}
td.comments_replies_td {
  padding: 4px;
}
tr.comments_replies_tr2 { }
td.comments_replies_count {
  padding-bottom: 4px;
  font-weight: bold;
  text-align: left;
  color: #909090;
}
a.comments_replies_showall {
  color: #905050;
}
a:hover.comments_replies_showall {
  color: #b07070;
  border-style: none;
}

span.comments_author {
  font-size: 12px;
}

span.comments_date {
  margin-left: 6px;
  font-size: 10px;
  font-style: italic;
  color: #606060;
}
div.comments_content {
  display: table;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 6px;

  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 6px;

  text-align: left;
}

table.comments_likes {
  margin-top: 8px;
  margin-left: 10px;
}
table.comments_likes td {
  vertical-align: middle;
}
td.comments_likes_no {
  font-size: 11px;
  font-style: italic;
  color: #40a040;
}

img.comments_likes_icon {
  margin-left: 6px;
  height: 16px;
}

/* ***************************************************************  */

a.comment_time { }

a.comment_hashtag { }

/* ***************************************************************  */

table.activity_table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #d0d0d0;
}
table.activity_table td {
  padding: 8px;
}
table.activity_table th {
  background-color: #b0b0b8;
  padding: 8px;
  text-align: center;
  color: #404040;
}
tr.activity_table_tr2 {
  background-color: #e0e0e0;
}

td.activity_table_thumb {
  width: 1%;
  text-align: right;
  vertical-align: top;
}

td.activity_table_date {
  text-align: center;
  font-style: italic;
  font-size: 10px;

  width: 1%;
  white-space: nowrap;

  vertical-align: top;
}

div.activity_table_kind {
  margin-top: 6px;

  font-size: 10px;
  font-weight: bold;
  color: #808080;
}

td.activity_table_descr {
  vertical-align: top;
  text-align: left;
}

div.activity_table_box {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;

  font-size: 10px;
}
div.activity_table_descr {
  padding-top: 8px;
  padding-bottom: 8px;

  min-height: 50px;
  max-height: 60px;

  text-align: left;
  font-style: italic;
  background-color: #d8d8d8;

  color: #404040;
}
div.activity_table_bulletin {
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  background-color: #f0f0f0;
}

/* ***************************************************************  */

a.yt_channellink {
  color: #700000;
  font-weight: bold;
}
a:hover.yt_channellink {
  color: #a00000;
  border-style: none;
}

a.yt_activity_link {
  color: #a02020;
  font-weight: bold;
}
a:hover.yt_activity_link {
  color: #e02020;
  border-style: none;
}

img.yt_activity_thumb {
  height: 80px;
}

img.yt_activity_type {
  height: 16px;
  border-radius: 0px;
  vertical-align: middle;
}

/* ***************************************************************  */
